$pink: #FBF2F2;
$black: #000000;
$red: #AA0601;
$darkRed: #9F1213;
$blackRed: #650300;
$gray: #707070;
$lightGray: #DCDCDC;
$lightGray2: #F2F2F2;
$storeBorderGray: #00000020;
$pageBorderGray: #555555;
$nextBtnGray: #DEE2E6;
$blackShadow: #00000029;
$brown: #B75929;
$darkBrown: #5F3E2D;


